[submodule "nifxml"]
	path = nifxml
	url = git://niftools.git.sourceforge.net/gitroot/niftools/nifxml
[submodule "kfmxml"]
	path = kfmxml
	url = git://niftools.git.sourceforge.net/gitroot/niftools/kfmxml
